.title {
    color: aqua;
    margin: 0;
    text-align: center;
}







@media screen and (max-width: 600px) 
{
    /* table general spacing*/
    .task-table {
        border-spacing: 10px;
    }

    /*smaller size of row and collum*/
    td {
        padding: 8px;
        border: 0.5px solid #ccc;
        
        min-width: 5cm;
        min-height: 1cm;
    }

    /* smaller icon adjustment for mobile from design code*/
    .icon {
        width: 10px;
        height: 10px;
    }

    /*border countact us link which connect to Github*/
    .social-link {
        width: auto;
        position: unset;
        transform: none;
    }

    .useful-link {
        width: auto;
        position: unset;
    }


}