
table {
    border-collapse: separate;
    border-spacing: 20px;
    margin: 0 auto;
}
p{
   text-align: center;
   font-weight: bold;
}
td {
    padding: 15px;
    border-radius: 10px; 
    background-color: #F7F7F7;
    box-sizing: border-box;
}

td:first-child {
    min-width: 1cm;
    white-space: nowrap;
    text-align: center;
}

td:nth-child(2) {
    min-width:10cm; 
}
td:hover{
    background-color: #EBEBEB;
}

tr{
    color: #2168C4
}