table {
    border-collapse: separate;
    border-spacing: 0px 10px;
    /* position: relative; */
    margin: 0 auto;
}

th, td {
    background-color:  #eaeaea;
    padding: 25px;
    text-align: left;
    border-radius: 10px; 
    overflow: hidden; 
    padding-right: 100px;
    width: 600px;
    color: #1D61BD;
}
