table {
    border-collapse: separate;
    border-spacing: 0px 10px;
    /* position: relative; */
}

/* tr {
    border-radius: 10px;
} */

/* .row-wrapper {
    border-radius: 10px; 
    overflow: hidden; 
} */





th, td {
    background-color: lightgreen;
    padding: 25px;
    text-align: left;
    border-radius: 10px; 
    overflow: hidden; 
    padding-right: 100px;
}

tr {
    border-bottom: 1px solid #ccc; /* Add border below each row */
    /* width: 400px; */
}

/* tr {
    background-color: green;
    padding: 10px;
    border-radius: 5px;
} */

/* td {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px; 
    background-color: #FAFAFA;
    min-width: 10cm;
    min-height: 2cm;
}

td:hover{
    background-color: #EBEBEB;
}

tr{
    color: #2168C4
} */