header {
    display: flex;
    justify-content: center;
}

#header-container {
    width: 725px;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    border-bottom: solid #00000020;
}

#header-date {
    margin: 20px 0px 20px 20px;
    
    font-size: 1.3750em;
    font-weight: bold;
}

/* Apply styles for screens with a maximum width of 650px (mobile) */
@media only screen and (max-width: 650px) {

    #header-container {
        display: flex; 
        flex-direction: column; 
    }

    .button-container {
        margin-top: 0;
    }
}

@media only screen and (max-width: 410px) {
    .button-container {
        display: flex; 
        flex-direction: column; 
    }
}