body {
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    margin-top: 100px;
    text-align: center;
}

.hidden {
    display: none;
}

/* Apply styles for screens with a maximum width of 950px (tablet) */
@media only screen and (max-width: 950px) {
    
    table {
        width: 100%;
    }
}

/* Apply styles for screens with a maximum width of 650px (mobile) */
@media only screen and (max-width: 650px) {
    table {
        width: 100%;
    }
}
